html {
  --background: #F4F2F3;
  --background-alt: oklch(from var(--background) calc(l + .2) c h / calc(alpha - .1));
  --primary: #294C60;
  --primary-contrast: #ffffff;
  --accent: #9EBC9F;
  --color: #230903;
  --danger: #c52b2b;
  --shadow: #b8cfdd;
  --border: #afbac0;
  --border-radius: 10px;
  color: var(--color);
  background: var(--background);

}

* {
  box-sizing: inherit;
}

@media(prefers-color-scheme: dark) {
  html {
    --background: #230903;
    --background-alt: oklch(from var(--background) calc(l + .2) c h / calc(alpha - .1));
    --primary: #84cbf3;
    --primary-contrast: #001b2e;
    --accent: #9EBC9F;
    --color: #F4F2F3;
    --danger: #fdaeae;
    --shadow: #656256;
    --border: #8b9398;
  }
}

html {
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  min-block-size: 100svh;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  display: inline;
}

img {
  display: block;
  max-inline-size: 100%;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#app>main {
  grid-area: main;
  overflow: auto;
}

#app>header {
  grid-area: header;
}

#app>footer {
  grid-area: footer;
}

.center {
  text-align: center;
}