:root {
  --background: #ffffff;
  --background-alt: #fff6e6;
  --primary: #294C60;
  --primary-contrast: #ffffff;
  --accent: #fca05d;
  --color: #001b2e;
  --danger: #c52b2b;
  --shadow: #b8cfdd;
  --border: #afbac0;
  --border-radius: 10px
}

* {
  box-sizing: inherit;
}

html {
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  min-block-size: 100svh;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  display: inline;
}

img {
  display: block;
  max-inline-size: 100%;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#app>main {
  grid-area: main;
  overflow: auto;
}

#app>header {
  grid-area: header;
}

#app>footer {
  grid-area: footer;
}